#menu {
    background-color: blue;
    padding: 10px; 
    text-align: center;
    display: inline-block;
}

#menu a {
    display: inline-block; 
    color: white;
    text-decoration: none;
    margin: 0 15px; 
}

#menu a:hover {
    color: lightgray;
}

